<html>
  <body>
    <br />
    <h3>Suporte Técnico</h3>
    <p style="font-family: verdana">
      Sistema desenvolvido pelo grupo Milk Distribution da turma ADS 5A para
      confecção do projeto final 2022.<br />
      Sinta-se a vontade para entrar em contato conosco para eventuais melhorias
      ou correções da aplicação.
      <br />
      <br />
      <strong>Integrantes:</strong>
      <br />
    </p>
    <div>
      <p style="font-family: verdana">
        Marcelo Rodrigues<br />
        RA: 1903647<br />
        email: marcelo.rodrigues@aluno.faculdadeimpacta.com.br<br />
        <a href="https://github.com/marcelo-rodrigues-bit"> Github</a><br /><br />
        Vitor Hideki Fujimura<br />
        RA: 1903973<br />
        email: gabriel.pessoa@aluno.faculdadeimpacta.com.br<br />
        <a href="https://github.com/GabrielBPessoa">Github</a><br /><br />
        Michael Oliveira<br />
        RA: 1904010<br />
        email: michael.oliveira@aluno.faculdadeimpacta.com.br<br />
        <a href="https://github.com/Michael-Junior">Github</a><br /><br />
        Gustavo Bertagnoli<br />
        RA: 1904060<br />
        email: gustavo.bertagnoli@aluno.faculdadeimpacta.com.br<br />
        <a href="https://github.com/gustavobertagnoli">Github</a>
      </p>
    </div>
    <!-- <p>
      This is an example paragraph. Anything in the <strong>body</strong> tag
      will appear on the page, just like this <strong>p</strong> tag and its
      contents.
    </p> -->
  </body>
</html>
