<h2 class="text-center">Criar minha conta</h2>

<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="form-group">
    <label>Nome</label>
    <input
      class="form-control"
      type="text"
      name="email"
      id="firstName"
      [(ngModel)]="account.firstName"
      required
    />
  </div>
  <div class="form-group">
    <label>Sobrenome</label>
    <input
      class="form-control"
      type="text"
      name="email"
      id="lastName"
      [(ngModel)]="account.lastName"
      required
    />
  </div>
  <div class="form-group">
    <label>E-mail</label>
    <input
      class="form-control"
      type="email"
      name="email"
      id="email"
      [(ngModel)]="account.email"
      required
    />
  </div>
  <div class="form-group">
    <label>Senha</label>
    <input
      class="form-control"
      type="password"
      name="email"
      id="password"
      [(ngModel)]="account.password"
      required
    />
  </div>
  <div class="form-group">
    <label>CPF</label>
    <input
      class="form-control"
      type="text"
      name="email"
      id="cpf"
      [(ngModel)]="account.cpf"
      required
      mask="000.000.000-00"
      [dropSpecialCharacters]="false"
    />
  </div>
  <p></p>
  <div class="d-grid gap-2">
    <button
      type="submit"
      class="btn btn-primary btn-block"
      [disabled]="form.form.invalid"
    >
      Registrar
    </button>
  </div>
</form>
